[Desktop Entry]
Name=HQ
GenericName=High quality .wav
Exec=/usr/bin/madaudio-dictophone arecord -f S16_LE -c1 -r8000 -t wav %f
StartupNotify=true
Terminal=false
Type=Application
