Source: madaudio
Section: gui
Maintainer: Alexander V. Nikolaev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config, cdbs, cdbs-embedded, oi-help-compiler
XCS-Cross-Build-Depends: libextractor-mini-dev, libeina-dev, libecore-dev, libefreet-dev, libedje-dev, libkeys-dev, libeoi-dev (>= 0.2.1), libmpdclient-dev, libedrawable-dev
Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config,  libeina-dev, libecore-dev, libefreet-dev, libedje-dev, libkeys-dev, libeoi-dev (>= 0.2.1), libmpdclient-dev, cdbs
Priority: optional
Standards-Version: 3.8.3

Package: madaudio
Architecture: any
Depends: ${shlibs:Depends}, mpd
Description: Audioplayer application
 Bookshelf application.

Package: madaudio-dbg
Architecture: any
Priority: extra
Depends: madaudio (= ${binary:Version})
Description: Audioplayer application -- debugging symbols
 Audioplayer application.
 .
 This package contains debugging symbols.
